.root {
	-fx-font-family: 'JetBrains Mono';
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-background-color: lightblue;
}

.hb_top {
	-fx-padding: 20 0 20 0;
}

.title {
	-fx-font-size: 38px;
}

.btn1 {
	-fx-height:30;
	-fx-width:70;
}

.btn2 {
	-fx-height:20;
	-fx-width:60;
}

.eigenfacesTable {
	-fx-border-color: #0000;
	-fx-border-radius: 5px;
	/*-fx-background-color: #32353;*/
	/*Temporary*/
	-fx-padding: 50 200 50 200;
}

.fp_compileEGDB {
	-fx-padding: 50 20 50 20;
	-fx-background-color: #336699;
}

.label_kvalue {
	-fx-padding: 0 0 15 0;
	-fx-color: white;
}
