.hb_back {
	-fx-padding: 15 0 15 25;
}

.btn_back {
	-fx-height: 60;
	-fx-width: 70;
}


.hb_loadEGDB {
	-fx-padding: 20 0 20 410;
}

.btn_loadEGDB {
	-fx-height: 30;
	-fx-width: 250;
}


.vb_eigenfaces {
	/*Temporary*/
	-fx-padding: 50 200 500 200;
}


.fp_compileEGDB {
	-fx-padding: 15 150 15 150;
	-fx-background-color: #336699;
}

.btn_comp {
	-fx-height: 50;
	-fx-width: 220;
}

