.root {
	-fx-font-family: 'JetBrains Mono';
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-background-color: lightblue;
}

.btn1 {
	-fx-height:30;
	-fx-width:70;
}

.btn2 {
	-fx-height:20;
	-fx-width:60;
}

.hb_back {
	-fx-padding: 15 0 15 25;
}

.btn_back {
	-fx-height: 60;
	-fx-width: 70;
}


.hb_loadEGDB {
	-fx-padding: 20 0 20 410;
}

.btn_loadEGDB {
	-fx-height: 30;
	-fx-width: 250;
}

.eigenfacesTable {
	-fx-border-color: #0000;
	-fx-border-radius: 5px;
	/*-fx-background-color: #32353;*/
	/*Temporary*/
	-fx-padding: 50 200 50 200;
}


.fp_compileEGDB {
	-fx-padding: 15 150 15 150;
	-fx-background-color: #336699;
}

.btn_comp {
	-fx-height: 50;
	-fx-width: 220;
}
